.carousel-caption {
    position: 'absolute';
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
.carousel-item {
    background: rgb(95, 88, 88);
}

.notfound {
    height: 75vh;
    display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}